<h1>Категории</h1>
<%= link_to 'Добавить категорию', new_category_path %>
<table>
  <tr>
    <th>Type</th>
    <th>Active</th>
    <th>Order</th>
    <th>Name</th>
    <th>Aliasname</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.type.try(:name) %></td>
    <td><%if category.active %> Активно <%else%>Неактивно <% end %></td>
    <td><%= category.order %></td>
    <td><%= category.name %></td>
    <td><%= category.aliasname %></td>
    <td><%= link_to 'Show', category %></td>
    <td><%= link_to 'Edit', edit_category_path(category) %></td>
    <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Добавить категорию', new_category_path %>
